@font-face {
  font-family: 'code-bold';
  src: url("/fonts/Code-Bold.eot");
  src: url("/fonts/Code-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Code-Bold.woff") format("woff"), url("/fonts/Code-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Italic.eot");
  src: url("/fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Italic.woff") format("woff"), url("/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-BoldItalic.eot");
  src: url("/fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-BoldItalic.woff") format("woff"), url("/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-LightItalic.eot");
  src: url("/fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-LightItalic.woff") format("woff"), url("/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Black.eot");
  src: url("/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Black.woff") format("woff"), url("/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("/fonts/Lato-Hairline.eot");
  src: url("/fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Hairline.woff") format("woff"), url("/fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("/fonts/Lato-HairlineItalic.eot");
  src: url("/fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-HairlineItalic.woff") format("woff"), url("/fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Regular.eot");
  src: url("/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Bold.eot");
  src: url("/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Bold.woff") format("woff"), url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Light.eot");
  src: url("/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Light.woff") format("woff"), url("/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-BlackItalic.eot");
  src: url("/fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-BlackItalic.woff") format("woff"), url("/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
#fullpage {
  max-width: 1920px;
  margin: 0 auto; }

.no-margin {
  margin: 0; }

body {
  min-height: 768px;
  background-color: #333333; }

body, h2 {
  font-family: 'Rajdhani', sans-serif; }

h1 {
  font-family: code-bold; }

.header-pe-row {
  font-size: 40px;
  position: absolute;
  top: 125px;
  width: 8em; }

.main-bg {
  background-color: tomato;
  background-size: cover; }

.the-what {
  backround-size: cover; }

.fullWidth {
  max-width: 100%; }

.pentagon {
  position: absolute;
  z-index: 1;
  top: 2px;
  bottom: 2px; }

.header-pe {
  z-index: 2;
  position: relative;
  color: #ffffff;
  font-weight: 900;
  left: 11px;
  top: 10px; }

.header-problems {
  color: #ffffff;
  position: relative;
  z-index: 3; }

.penta-pe {
  width: 65px;
  float: left;
  position: relative;
  bottom: 11px; }

h1.wfisnb {
  color: #ffffff;
  width: 6em;
  font-size: 60px;
  letter-spacing: .06em;
  line-height: 71px;
  margin-bottom: 25px; }
  h1.wfisnb span {
    padding-bottom: 0px;
    border-bottom: 4px solid white; }

.btm-right-block {
  position: absolute;
  bottom: 0; }

.pembtp {
  font-size: 23px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px; }
  .pembtp span {
    color: red; }

h4 {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  color: #ffffff; }

.stlm {
  padding-bottom: 6%; }

.hamburger-container {
  position: absolute;
  bottom: 0;
  padding: 25px; }

.hamburger-menu {
  left: 45px;
  cursor: hand; }
  .hamburger-menu:hover {
    opacity: .9;
    cursor: hand; }

/* The What Section */
.p-layout-right {
  height: 100%; }

.p-layout-left {
  background-color: #ffffff;
  height: 100%; }

.tw-right {
  background-color: #666581; }
  .tw-right-blurb {
    width: 84%;
    height: 60px;
    font-family: "Rajdhani", sans-serif;
    font-size: 23px;
    line-height: 1.35;
    color: #ffffff;
    padding-left: 25px;
    border-left: 2px solid white;
    margin-top: 11%;
    margin-left: 10%;
    padding-right: 10%; }

.intro-block {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 19%; }

.intro-blurb {
  font-family: Lato;
  font-size: 16px;
  padding-top: 60px;
  line-height: 2em; }

.intro-row {
  border-bottom: 2px solid #222222; }

.intro-header {
  height: 136px;
  display: flex; }

.section-anchor, .section-title {
  flex: 0 0 auto; }

.section-title {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 19px;
  padding-left: 35px; }

.section-anchor {
  width: 90px; }

.tw-right-foot {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 2.5em;
  padding-right: 1em; }
  .tw-right-foot-pos {
    position: absolute;
    bottom: 0; }

/* What is PE */
.what-is-pe {
  background-color: white; }

.wiPE-title {
  margin-left: 16% !important; }

.wiPE-parent {
  margin: 3% 12% 0 16%; }

.wiPE-item p {
  font-family: 'Lato';
  font-size: 16px; }
.wiPE-item:nth-child(1) {
  padding-right: 12%; }
.wiPE-item:nth-child(2) {
  padding-right: 12%; }
.wiPE-item:nth-child(3) {
  padding-right: 12%; }

.ootmen, .watch, .stress {
  margin: 0 auto;
  padding-bottom: 35px; }
