@font-face {
  font-family: 'code-bold';
  src: url("/fonts/Code-Bold.eot");
  src: url("/fonts/Code-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Code-Bold.woff") format("woff"), url("/fonts/Code-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Italic.eot");
  src: url("/fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Italic.woff") format("woff"), url("/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-BoldItalic.eot");
  src: url("/fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-BoldItalic.woff") format("woff"), url("/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-LightItalic.eot");
  src: url("/fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-LightItalic.woff") format("woff"), url("/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Black.eot");
  src: url("/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Black.woff") format("woff"), url("/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("/fonts/Lato-Hairline.eot");
  src: url("/fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Hairline.woff") format("woff"), url("/fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("/fonts/Lato-HairlineItalic.eot");
  src: url("/fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-HairlineItalic.woff") format("woff"), url("/fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Regular.eot");
  src: url("/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Bold.eot");
  src: url("/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Bold.woff") format("woff"), url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-Light.eot");
  src: url("/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Light.woff") format("woff"), url("/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato-BlackItalic.eot");
  src: url("/fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-BlackItalic.woff") format("woff"), url("/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

#fullpage {
  max-width: 1920px;
  margin: 0 auto; }

.no-margin {
  margin: 0; }

body {
  min-height: 768px;
  background-color: #333333;
  color: #333; }

body, h2 {
  font-family: 'Rajdhani', sans-serif; }

h1 {
  font-family: code-bold; }

.header-pe-row {
  font-size: 40px;
  position: absolute;
  top: 125px;
  width: 8em; }
  @media screen and (max-width: 39.9375em) {
    .header-pe-row {
      right: 5%;
      top: 10%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .header-pe-row {
      right: 5%;
      top: 8%; } }

.main-bg {
  background-color: tomato;
  background-size: cover; }

.the-what {
  backround-size: cover; }

.fullWidth {
  max-width: 100%; }

.pentagon {
  position: absolute;
  z-index: 1;
  top: 2px;
  bottom: 2px; }

.header-pe {
  z-index: 2;
  position: relative;
  color: #ffffff;
  font-weight: 900;
  left: 11px;
  top: 10px; }

.header-problems {
  color: #ffffff;
  position: relative;
  z-index: 3; }

@media screen and (max-width: 39.9375em) {
  h2 {
    font-size: 38px; } }

.penta-pe {
  width: 65px;
  float: left;
  position: relative;
  bottom: 11px; }

h1.wfisnb {
  color: #ffffff;
  width: 6em;
  font-size: 60px;
  letter-spacing: .06em;
  line-height: 71px;
  margin-bottom: 25px; }
  @media screen and (max-width: 39.9375em) {
    h1.wfisnb {
      font-size: 2em;
      line-height: 1.3em; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    h1.wfisnb {
      font-size: 1.8em;
      line-height: 1.3em; } }
  h1.wfisnb span {
    padding-bottom: 0px;
    border-bottom: 4px solid white; }

.btm-right-block {
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 39.9375em) {
    .btm-right-block {
      bottom: 100px;
      left: 10%; } }

.pembtp {
  font-size: 23px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px; }
  @media screen and (max-width: 39.9375em) {
    .pembtp {
      font-size: 1em;
      width: 70%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .pembtp {
      font-size: 1em; } }
  .pembtp span {
    color: red; }

h4 {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  color: #ffffff; }

.stlm {
  padding-bottom: 6%; }

.hamburger-container {
  position: absolute;
  bottom: 0;
  padding: 25px;
  z-index: 999; }

.hamburger-menu {
  left: 45px;
  cursor: hand;
  height: 50px;
  width: 50px;
  background: url("/img/group-4.png");
  z-index: 1000; }
  .hamburger-menu:hover {
    opacity: .9;
    cursor: hand; }

.contact-us-btn {
  height: 50px;
  width: 165px;
  background: url("/img/contact-us-btn.svg");
  background-size: cover; }

@media screen and (max-width: 39.9375em) {
  .web-contact-info-email {
    display: none; } }

/* The What Section */
.the-what-section {
  border-bottom: 1px solid #777; }

.p-layout-right {
  height: 100%; }

.p-layout-left {
  background-color: #ffffff;
  height: 100%; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .p-layout-left {
      width: 100%;
      padding-bottom: 50px; } }

.tw-right {
  background-color: #666581; }
  @media screen and (max-width: 39.9375em) {
    .tw-right {
      display: none; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .tw-right {
      display: none; } }
  .tw-right-blurb {
    width: 84%;
    height: 60px;
    font-family: "Rajdhani", sans-serif;
    font-size: 23px;
    line-height: 1.35;
    color: #ffffff;
    padding-left: 25px;
    border-left: 2px solid white;
    margin-top: 11%;
    margin-left: 10%;
    padding-right: 10%; }

.intro-block {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 19%; }
  @media screen and (max-width: 39.9375em) {
    .intro-block {
      margin-bottom: 1.6em;
      max-width: 80%;
      margin-top: 3em; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .intro-block {
      margin-top: 2em; } }

@media screen and (max-width: 39.9375em) {
  fp-tableCell {
    overflow: visible !important; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  fp-tableCell {
    overflow: visible; } }

.intro-blurb {
  font-family: Lato;
  font-size: 16px;
  padding-top: 60px;
  line-height: 2em; }
  @media screen and (max-width: 39.9375em) {
    .intro-blurb {
      margin-bottom: 90px;
      margin-top: -40px; } }

.intro-row {
  border-bottom: 2px solid #222222; }
  @media screen and (max-width: 39.9375em) {
    .intro-row {
      border-bottom: none; } }

.intro-header {
  height: 136px;
  display: flex; }
  @media screen and (max-width: 39.9375em) {
    .intro-header {
      height: 80px; } }

.section-anchor, .section-title {
  flex: 0 0 auto; }

.section-title {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 19px;
  padding-left: 35px; }
  @media screen and (max-width: 39.9375em) {
    .section-title {
      padding-left: 10px;
      font-size: 1.9em;
      padding: 12px; } }

.section-anchor {
  width: 90px; }
  @media screen and (max-width: 39.9375em) {
    .section-anchor {
      width: 65px; } }

@media screen and (max-width: 39.9375em) {
  .black-shape-anchor {
    width: 65px; } }

.tw-right-foot {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 2.5em;
  padding-right: 1em; }
  .tw-right-foot-pos {
    position: absolute;
    bottom: 0; }

/* What is PE */
.what-is-pe {
  background-color: white; }

.wiPE-title {
  margin-left: 19% !important; }
  @media screen and (max-width: 39.9375em) {
    .wiPE-title {
      margin-top: 25%;
      margin-bottom: 10%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .wiPE-title {
      margin-top: 10%;
      margin-bottom: 1%; } }

.wiPE-title h2 {
  font-weight: 600;
  font-size: 30px; }
  @media screen and (max-width: 39.9375em) {
    .wiPE-title h2 {
      font-size: 1.6em; } }

.wiPE-parent {
  margin: 3% 12% 0 19%; }

.wiPE-item p {
  font-family: 'Lato';
  font-size: 16px; }

.wiPE-item:nth-child(1) {
  padding-right: 12%; }
  @media screen and (max-width: 39.9375em) {
    .wiPE-item:nth-child(1) {
      margin-bottom: 30%; } }

.wiPE-item:nth-child(2) {
  padding-right: 12%; }
  @media screen and (max-width: 39.9375em) {
    .wiPE-item:nth-child(2) {
      margin-bottom: 30%; } }

.wiPE-item:nth-child(3) {
  padding-right: 12%; }

.ootmen, .watch, .stress {
  padding-bottom: 35px; }

.ootmen {
  margin: 0px 0 0 15%;
  left: 50%; }

.watch {
  margin: 0px 0 0 35%;
  left: 50%; }

.stress {
  margin: 0px 0 0 25%;
  left: 50%; }

/* The What Section */
.consequences-left {
  background: url("/img/guy-distance.jpg");
  background-size: cover;
  background-position: 50% 0%; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .consequences-left {
      background-size: cover;
      height: 100%;
      margin: 0;
      padding: 0; } }

.right-title {
  font-family: Rajdhani;
  font-size: 30px;
  color: #ffffff;
  margin-left: 15%;
  margin-top: 10%;
  margin-right: 25%;
  margin-bottom: 10%;
  line-height: 1.2em; }
  @media screen and (max-width: 39.9375em) {
    .right-title {
      margin-top: 50px;
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1.5em; } }

@media screen and (max-width: 39.9375em) {
  .info-title, .info-blurb {
    margin-left: 10% !important;
    margin-right: 10% !important;
    font-size: 1.5em; } }

.right-blurb {
  font-family: Lato;
  font-size: 16.2px;
  line-height: 1.6;
  color: #ffffff;
  margin-left: 15%;
  margin-top: 4%;
  margin-right: 15%; }
  @media screen and (max-width: 39.9375em) {
    .right-blurb {
      margin-bottom: 30%;
      margin-right: 10%;
      margin-left: 10%; } }

/* The Study Section */
.ts-right {
  background-color: #807f7f; }
  @media screen and (max-width: 39.9375em) {
    .ts-right {
      padding-bottom: 10px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .ts-right {
      width: 100%;
      height: 100%; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .the-study-left {
    background-size: cover;
    height: 100%; } }

/* Investigational Section */
.invd-left {
  background: url("/img/woman-desk.jpg");
  background-size: cover;
  background-position: 20% 0%; }
  @media screen and (max-width: 39.9375em) {
    .invd-left {
      min-height: 200px; } }

.rassessed-left {
  background: url("/img/pocket-watch.jpeg");
  background-size: 400%;
  background-position-x: 39.5%;
  background-position-y: 40%; }
  @media screen and (max-width: 39.9375em) {
    .rassessed-left {
      min-height: 200px; } }

.sp-right {
  background-color: #5a5a66; }

.info-pages {
  background-color: #4d4d58; }

.info-column-border {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%; }

.info-columns {
  height: 100%; }

.info-title {
  font-family: Rajdhani;
  font-size: 30px;
  color: #ffffff;
  margin-left: 15%;
  margin-top: 10%;
  margin-right: 15%;
  margin-bottom: 10%;
  line-height: 1.2em; }

.info-blurb {
  font-family: Lato;
  font-size: 16.2px;
  line-height: 1.6;
  color: #ffffff;
  margin-left: 15%;
  margin-top: 4%;
  margin-right: 10%; }

.info-list {
  color: white;
  list-style: none;
  margin-left: 10%; }

/* USA Section */
.usa-left {
  background: url("/img/black-white-city.jpg");
  background-size: cover;
  background-position-x: 39.5%;
  background-position-y: 40%; }

.usa-right {
  background-color: #496f6f; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .usa-right {
      background-size: cover;
      height: 100%;
      width: 100%; } }

.country-title {
  background-color: white;
  height: 84px;
  padding-left: 20px; }
  @media screen and (max-width: 39.9375em) {
    .country-title {
      position: relative;
      left: -4%;
      top: -40%;
      padding: 20px;
      margin-top: 25px; } }

.usa-info-listing {
  background-color: #476b6b; }

.info-title-category {
  font-family: Rajdhani;
  font-size: 18px;
  color: #ffffff;
  margin-left: 15%;
  margin-top: 20%;
  margin-right: 15%;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 15px; }
  @media screen and (max-width: 39.9375em) {
    .info-title-category {
      margin-left: 10%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .info-title-category {
      margin-top: 3em; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .listing-padding {
    margin-top: 2em !important; } }

.info-title2 {
  margin-top: 0;
  margin-bottom: 10%; }

.listing-padding {
  margin-top: 20%; }

.info-blurb-title {
  font-weight: 900; }

.line {
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.22);
  margin-left: 15%; }

.uk-section {
  background: url(/img/uk.jpg);
  background-size: cover;
  background-position-x: 39.5%;
  background-position-y: 40%; }

.right-contact-blurb {
  margin-top: 65px; }

.uk-right {
  background-color: #6a84a1; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .uk-right {
      width: 100%; } }

.uk-blurb {
  font-size: 13px; }

.fp-controlArrow.fp-next {
  right: 45px !important;
  opacity: .4; }

.fp-controlArrow.fp-prev {
  opacity: .4; }

@media screen and (max-width: 39.9375em) {
  .end-slide {
    padding-bottom: 10%; } }

@media screen and (max-width: 39.9375em) {
  .study-participation {
    font-size: 1.5em;
    width: 80%;
    position: relative;
    top: -10px;
    left: 10px; } }

.overlay {
  z-index: 1000;
  background-color: rgba(47, 47, 47, 0.9);
  overflow-y: hidden; }

.overlay nav {
  font-size: 3em;
  top: 45%; }
  @media screen and (max-width: 39.9375em) {
    .overlay nav {
      font-size: 2em; } }

.placeholder {
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 4px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
  box-shadow: none !important;
  transition: all 0.5s ease; }

.placeholder:focus {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 10px; }

label span {
  color: white;
  text-transform: uppercase;
  font-weight: 600; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  color: white; }

.contact-layout-left {
  color: white; }
  .contact-layout-left .intro-row {
    border-bottom: 1px solid white; }

.contact-layout-right {
  padding: 5%; }

@media screen and (max-width: 39.9375em) {
  #contact_form {
    margin-left: 5%;
    margin-right: 5%; } }

.contact-blurb {
  margin-bottom: 0px; }

.sendButton {
  width: 163px;
  height: 50px;
  border-radius: 2.5px;
  background-color: #626061;
  box-shadow: none;
  border-style: none;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px; }
